
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* vertical-align: middle; */
    background-color:gold;
    margin-top: 5%;
    /* text-align: center; */
}

#div1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#div1 #intBtn {
    padding: 5px 29px;
    margin-left: 18%;
    font-size: 20px;
    font-size: bold;
    margin-bottom: 2%;
    background-color: black;
    color: white;
}

#div1 #closeBtn {
    padding: 5px 30px;
    margin-left: 30%;
    font-size: 20px;
    margin-bottom: 2%;
    font-size: bold;
}

#instruct_display {
    display: none;
}

ul {
    list-style-type: square;
}

ul li {
    font-size: 18px;
    letter-spacing: 2px;
}

#div1 #playBtn {
    padding: 5px 0;
    margin-left: 18%;
    font-size: 20px;
    width: 65%;
    margin-bottom: 2%;
    font-size: bold;
}

#div2 {
    display: none;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2%; */
    margin-bottom: 2%;
}

#div2 form {
    width: 100%;
    height: auto;
    text-align: center;
}

#div2 form #guessInput {
    width: 80%;
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid black;
    margin-top: 10%;
    
}

#div2 form input[type="button"] {
    padding: 5px 30px;
    font-size: 18px;
}

#display-outcome {
    text-align: center;
    background-color: red;
}

